@use '../utils/mixin' as *;

*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html{font-size: 62.5%; letter-spacing: -.7px;}
html, body {height:100%; position: relative; min-width: 375px;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none; display: block;}
table {border-collapse:collapse;border-spacing:0}
ul, ol {list-style: none;}
input, select, textarea{outline: none;}
html{
    @include mobile{
        font-size: calc(10 * 100vw / 780);
    }
    @include mobile2{
        font-size: calc(10 * 100vw / 570);
    }
    @include mobile3{
        font-size: calc(6 * 100vw / 400);
    }
}