.style{
    padding: 100px 0;
    &-inner{
        .style-title{
            padding-bottom: 60px;
            text-align: center;
            h2{
                font-size: 4rem;
                font-weight: bold;
            }
        }
        .style-list{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 26px;
            row-gap: 50px;
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
            padding-bottom: 60px;
            li{
                max-width: 270px;
                width: 100%;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .style-txt{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        width: 100%;
                        text-align: center;
                        p:nth-child(1){
                            font-size: 2rem;
                            font-weight: bold;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                        }
                        p:nth-child(2),
                        p.sub{
                            font-size: 1.8rem;
                            font-weight: 300;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                        }
                        p.sub{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}