@mixin mobile(){
    @media(max-width:780px){
        @content;
    }
}
@mixin mobile2(){
    @media(max-width:570px){
        @content;
    }
}
@mixin mobile3(){
    @media(max-width:450px){
        @content;
    }
}
@mixin mobile4(){
    @media(max-width:400px){
        @content;
    }
}
@mixin pc(){
    @media(min-width:781px){
        @content;
    }
}
@mixin pc2(){
    @media (max-width:1920px) {
        @content;
    }
}
@mixin pc3(){
    @media (max-width:1440px) {
        @content;
    }
}
@mixin pc4(){
    @media (max-width:1280px) {
        @content;
    }
}
@mixin pc5(){
    @media (max-width:1024px) {
        @content;
    }
}