.special{
    &-inner{
        padding: 100px 0;
        .special-title{
            text-align: center;
            padding-bottom: 60px;
            h2{
                font-size: 4rem;
                font-weight: bold;
            }
        }
        .special_party{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 26px;
            padding-bottom: 100px;
            &-cont{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                max-width: 300px;
                width: 100%;
                button{
                    width: 100%;
                    .img-cont{
                        img{}
                    }
                    .special_party-sub{
                        text-align: center;
                        p{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p:nth-child(1){
                            font-size: 2rem;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
                        p:nth-child(2){
                            font-size: 1.8rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .special-party--img{
            padding-top: 100px;
            img{

            }
        }
    }
}