.find{
    padding-top: 100px;
    h2{
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        padding-bottom: 80px;
    }
    &-wrap{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
        max-width: 346px;
        width: 100%;
        .find-cont{
            display: flex;
            align-items: center;
            gap: 16px;
            input{
                border: 1px solid #000;
                padding-left: 15px;
                font-size: 1.8rem;
                color: #999;
                height: 35px;
                width: 240px;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                font-size: 1.4rem;
                color: #fff;
                width: 90px;
                height: 30px;
                background: #694100;
            }
        }
    }
}