
.join_wrap input {
    width: 210px;
    height: 35px;
    padding: 10px;
    border: 1px solid #000;
    background: transparent;
  }
  .join_wrap table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: middle;
    box-sizing: border-box;
  }
  .join_wrap th {
    width: 125px;
    text-align: left;
    font-size: 2rem;
    color: #000;
    font-weight: 500;
    letter-spacing: -1px;
    padding-top: 0px;
  }
  
  .join_wrap td {
    font-size: 12px;
    color: #666;
    padding: 10px 0;
    letter-spacing: -1px;
  }
  .join_wrap .selectbox {
    background-color: #fff;
  }
  .join_wrap .selectbox {
    position: relative;
    width: 210px;
    height: 35px;
    line-height: 35px;
    background: url(/assets/images/member/icn1.png) no-repeat 95% 50%;
    border: 1px solid #000;
    z-index: 1;
  }
  .join_wrap .selectbox label {
    position: absolute;
    top: 0px;
    left: 12px;
    height: 35px;
    line-height: 35px;
    color: #999;
    z-index: -1;
    font-size: 1.8rem;
  }
  .join_wrap .selectbox select {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-family: inherit;
    border: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .join_wrap .id_info {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
  }
  .join_wrap .id_info table {
    margin-top: 25px;
  }
  .join_wrap .id_info input {
    width: 210px;
  }
  
  .join_wrap .id_info a {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #694100;
    border-radius: 15px;
  }
  .join_wrap .id_info span {
    padding-left: 10px;
    font-size: 1rem;
    color: #999;
  }
  .join_wrap .basic_info {
    background: #F8F8F8;
    padding: 80px 20px;
  }
  .join_wrap .basic_info table {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }
  .join_wrap .basic_info .size_l {
    width: 210px;
  }
  .join_wrap .basic_info .checks label {
    margin-right: 40px;
  }
  
  .checks_nomal {
    margin: 3px 0 0 0;
  }
  .checks_nomal input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .checks_nomal label {
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    margin: 10px 0 0 0;
    cursor: pointer;
    color: #999;
    font-size: 1.2rem;
  }
  .checks_nomal input[type='radio'] + label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 32px;
    margin: 0 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #999;
  }
  
  .checks_nomal input[type='radio']:checked + label:before {
    background: #fff;
  }
  .checks_nomal input[type='radio']:checked + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: #694100;
  }

  .clb2 {
    margin-left: 20px;
  }
  
  .join_wrap .basic_info .phone th {
    vertical-align: top;
    padding-top: 10px;
    background-position: left 27px;
  }
  .join_wrap .basic_info .phone .selectbox {
    display: inline-block;
    width: 100px;
  }
  .join_wrap .basic_info .phone input {
    width: 110px;
    margin-left: 10px;
  }

  .join_wrap .basic_info .phone a {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #694100;
    border-radius: 15px;
  }
  .join_wrap .basic_info .phone div.input_number {
    position: relative;
    margin-top: 5px;
  }
  .join_wrap .basic_info .phone div.input_number input {
    width: 344px;
    margin-left: 0;
  }
  .join_wrap .basic_info .phone div.input_number a {
    color: #333;
  }
  .join_wrap .basic_info .phone div.input_number span {
    position: absolute;
    left: 10px;
    top: 4px;
    color: #999;
    font-size: 1.8rem;
  }
  .join_wrap .basic_info .phone div.input_number input:focus + span {
    display: none;
  }
  .join_wrap .basic_info .phone div.input_number input.on + span {
    display: none;
  }
  
  .join_wrap .basic_info .email i {
    padding: 0 10px;
    font-size: 1.8rem;
    color: #000;
  }
  .join_wrap .basic_info .email .selectbox {
    display: inline-block;
    margin-left: 10px;
  }
  .join_wrap .agree {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }
  .join_wrap .agree ul {
    margin-top: 0px;
    zoom: 1;
  }
  .join_wrap .agree ul:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
  }
  .join_wrap .agree li {
    float: left;
    width: 440px;
    margin-top: 30px;
  }
  .join_wrap .agree li.right {
    float: right;
  }
  .join_wrap .agree li strong {
    display: block;
    font-size: 1.6rem;
    color: #000;
  }
  .join_wrap .agree li div {
    height: 72px;
    margin-top: 5px;
    padding: 10px;
    font-size: 12px;
    color: #999;
    overflow-y: scroll;
    border: 1px solid #d2d2d2;
    background: #fff;
  }
  .join_wrap .agree li p label {
    font-size: 12px;
    color: #666;
    letter-spacing: -1px;
  }
  .home_join .btn_wrap {
    text-align: center;
    margin: 60px 0 120px;
  }
  
  .checks_all_txt {
    font-size: 16px;
  }
  .all_agree_area {
    width: 900px;
    padding: 40px 0 0 78px;
    text-align: center;
  }
  .all_txt {
    font-size: 19px;
    color: #d3743a;
  }
  
  
  .checks_all label {
    margin-right: 40px;
  }
  
  .checks_all {
    position: relative;
    display: block;
  }
  .checks_all input[type='radio'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .checks_all input[type='radio'] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 1.8rem;
    color: #000;
  }
  
  .checks_all input[type='radio'] + label:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 32px;
    margin: 0 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #000;
  }
  
  .checks_all input[type='radio']:checked + label:before {
    background: #fff;
  }
  .checks_all input[type='radio']:checked + label:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 100%;
  }
  
  .join_btn_area {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
  }
  .join_btn {
    width: 400px;
    height: 60px;
    background: #694100;
    line-height: 60px;
    font-size: 2.4rem;
    color: #fff;
    font-weight: bold;
  }
.id_info h2{
    text-align: center;
    padding-bottom: 60px;
    font-size: 4rem;
    font-weight: bold;
}
.id_info > p{
    font-size: 2.4rem;
    font-weight: 500;
}
.basic_info > p{
    font-size: 2.4rem;
    font-weight: 500;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.email input,
.email .selectbox,
.email select{
    width: 160px;
}

.agree{
    padding-top: 80px;
    padding-bottom: 100px;
}
.agree h2{
    font-size: 2.4rem;
    padding-bottom: 10px;
}