.data{
    padding: 100px 20px;
    &-inner{
        .data-title{
            text-align: center;
            padding-bottom: 40px;
            .gold{
                font-size: 4rem;
                font-weight: bold;
                span{color: #000;}
            }
        }
        .data_sub{
            display: flex;
            justify-content: center;
            padding-bottom: 40px;
            p{
                font-size: 1.6rem;
                color: #666;
                background: #eee;
                padding: 18px 145px;
                text-align: center;
            }
        }
        .data-form{
            max-width: 480px;
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
            form{
                .form-area{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                    .item.w50{
                        max-width: calc(50% - 7.5px);
                        width: 100%;
                        label{
                            display: none;
                        }
                        .form-cont{
                            input{
                                width: 100%;
                                height: 35px;
                                border: 1px solid #000;
                                padding-left: 15px;
                                font-size: 1.8rem;
                                line-height: 35px;
                                color: #999;
                                &::placeholder{
                                    font-size: 1.8rem;
                                    color: #999;
                                }
                            }
                            select{
                                width: 100%;
                                height: 35px;
                                border: 1px solid #000;
                                padding-left: 15px;
                                font-size: 1.8rem;
                                line-height: 35px;
                                color: #999;
                            }
                        }
                        .radio-cont{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 18px;
                            .radio{
                                display: flex;
                                align-items: center;
                                gap: 4px;
                                position: relative;
                                input{
                                    position: absolute;
                                    margin: 0;
                                    overflow: hidden;
                                    clip: rect(0, 0, 0, 0);
                                    background-color: transparent;
                                    border: 1px solid #000;
                                    width: 100%;
                                    height: 36px;
                                    box-sizing: border-box;
                                    padding: 0 10px;
                                    &:checked::after{
                                        content: '';
                                        position: absolute;
                                        top: 8px;
                                        left: 8px;
                                        width: 17px;
                                        height: 17px;
                                        background: #000;
                                        border-radius: 100%;
                                    }
                                    &:checked+label::after{
                                        content: '';
                                        position: absolute;
                                        top: 9px;
                                        left: 6px;
                                        width: 14px;
                                        height: 14px;
                                        background: #000;
                                        border-radius: 100%;
                                    }
                                    & + label{
                                        cursor: pointer;
                                        color: #000;
                                    }
                                }
                                label{
                                    display: inline-block;
                                    position: relative;
                                    font-size: 1.8rem;
                                    &::before{
                                        content: '';
                                        display: inline-block;
                                        line-height: 32px;
                                        margin: 0 8px 0 0;
                                        text-align: center;
                                        vertical-align: middle;
                                        border-radius: 100%;
                                        border: 1px solid #000;
                                        width: 26px;
                                        height: 26px;
                                        background: transparent;
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .item.w100{
                        max-width: 100%;
                        width: 100%;
                        display: flex;
                        gap: 15px; 
                        label{
                            display: none;
                        }
                        .form-cont{
                            max-width: calc(100% - 115px);
                            width: 100%;
                            input{
                                width: 100%;
                                height: 35px;
                                border: 1px solid #000;
                                padding-left: 15px;
                                font-size: 1.8rem;
                                line-height: 35px;
                                color: #999;
                            }
                        }
                        a{
                            width: 100px;
                            text-align: center;
                            color: #999;
                            height: 35px;
                            border: 1px solid #000;
                            font-size: 1.8rem;
                            line-height: 35px;
                            &:hover{
                                border:unset;
                                color: #fff;
                                background: #694100;
                            }
                        }
                    }
                    .check-box{
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        width: 100%;
                        .chk{
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 20px;
                            height: 20px;
                            position: relative;
                            input{
                                position: absolute;
                                opacity: 0;
                                width: 0;
                                height: 0;
                                margin: 0;
                                cursor: pointer;
                            }
                            span{
                                width: 20px;
                                height: 20px;
                                border: 1px solid #000;
                                border-radius: 2px;
                                display: inline-block;
                                background: #fff;
                                box-sizing: border-box;
                            }
                            input:checked + span{
                                background: #694100;
                            }
                        }
                        label[for]{
                            font-size: 1.6rem;
                            cursor: pointer;
                        }
                        .chk_cont.all{
                            display: flex;
                            align-items: center;
                            gap: 9px;
                        }
                        .chk_cont.et{
                            display: flex;
                            flex-direction: column;
                            gap: 11px;
                            > div{
                                display: flex;
                                align-items: center;
                                .chk{
                                    margin-right: 9px;
                                }
                                label[for]{
                                    font-size: 1.6rem;
                                    margin-right: 15px;
                                }
                                button{
                                    margin-left: auto;
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                    .btn-box{
                        width: 100%;
                        button{
                            width: 100%;
                            height: 60px;
                            background: #694100;
                            span{
                                font-size: 2.4rem;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}