.test{
    padding-top: 100px;
    &-inner{
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        .test-bg{
            position: relative;
            img{

            }
            .test-txt{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
                transition: opacity .3s ease;
                &.step01{
                    z-index: 5;
                }
                &.step02{
                    z-index: 4;
                }
                &.step03{
                    z-index: 3;
                }
                &.step04{
                    z-index: 2;
                }
                &.step05{
                    z-index: 1;
                }
                .test-title{
                    font-size: 4rem;
                    font-weight: 500;
                }
                .test_sub{
                    padding-top: 60px;
                    padding-bottom: 70px;
                    font-size: 2.6rem;
                    &.done{
                        padding-bottom: 20px;
                        color: #b65741;
                        font-weight: 500;
                    }
                }
                .done-txt{
                    font-size: 1.8rem;
                }
                .done-link{
                    padding-top: 93px;
                    a{
                        color: #fff;
                        font-size: 2.6rem;
                        width: 260px;
                        height: 70px;
                        line-height: 70px;
                        text-align: center;
                        background: #79351f;
                        border-radius: 15px;
                    }
                }
                .test-btn{
                    display: flex;
                    align-items: center;
                    button{
                        font-size: 2.6rem;
                        font-weight: 500;
                        color: #fff;
                        width: 220px;
                        height: 70px;
                        line-height: 70px;
                        background: #79351f;
                        border-radius: 15px;
                        text-align: center;
                    }
                    &.grid{
                        .grid-list{
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 20px;
                            li{
                                button{
                                    color: #000;
                                    font-size: 2.4rem;
                                    font-weight: 500;
                                    text-align: center;
                                    width: 220px;
                                    height: 70px;
                                    background: #fff;
                                    line-height: 70px;
                                    // &.on{
                                    //     background: #b65741;
                                    //     color: #fff;
                                    // }
                                }
                            }
                        }
                    }
                }
                .test-msg{
                    max-width: 387px;
                    width: 100%;
                    margin: 0 auto;
                    padding: 10px 20px 29px 20px;
                    p{
                        color: #fff;
                        padding: 6px 0;
                        background: #b65741;
                        font-size: 1.8rem;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

.test-kind{
    padding-bottom: 100px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 20px 100px 20px;
    .test-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        li{
            a{
                img{}
            }
        }
    }
}

.test-txt.step01{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    .test-title{
        font-size: 4rem;
        font-weight: 500;
    }
    .test_sub{
        padding-top: 60px;
        padding-bottom: 70px;
        font-size: 2.6rem;
    }
    .test-btn{
        display: flex;
        align-items: center;
        gap: 100px;
        button{
            font-size: 2.6rem;
            font-weight: 500;
            color: #fff;
            width: 220px;
            height: 70px;
            line-height: 70px;
            background: #79351f;
            border-radius: 15px;
            text-align: center;
        }
    }
}

.test-txt.step02{
    gap: 90px;
    .test-btn{
        gap: 100px;
        button:nth-child(2){
            background: #b65741;
        }
    }
}
.test-txt.step03{
    gap: 94px;
}

.test{
    button[type="submit"]{
        background: #79351f !important;
        border-radius: 15px !important;
        width: 260px !important;
        height: 60px !important;
        span{
            font-size: 2.8rem !important;
            line-height: 60px !important;
        }
    }
    .form-area .check-box .chk input:checked + span{
        background: #79351f !important;
    }
}