@use '../../../scss/base/var' as *;
@use '../../../scss/utils/mixin' as *;
.test{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    &-inner{
        .re_marry{
            > p{
                text-align: center;
                font-size: 3.6rem;
                font-weight: 600;   
                padding-bottom: 5.4rem;             
            }
            .test-w{
                &--in{
                    .tw-cont{
                        position: relative;
                        height: 50rem;
                        max-width: 1000px;
                        width: 100%;
                        background: #d6c3aa;
                        margin: 0 auto;
                        margin-bottom: 1.6rem;
                        @include mobile{
                            height: 70rem;
                        }
                        @include mobile2{
                            height: 450px;
                        }
                        &--process{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            &:nth-child(2){
                                .tw-pro{
                                    @include mobile{
                                        position: relative;
                                        padding: 0 20px;
                                    }
                                    .pro-list{
                                        &:nth-child(1){
                                            @include mobile{
                                                display: grid;
                                                grid-template-columns: repeat(2, 1fr);
                                            }
                                        }
                                        li{
                                            @include mobile{
                                                width: 100%;
                                                height: 80px;
                                            }
                                        }
                                        &:nth-child(2){
                                            li{
                                                &:nth-child(1){
                                                    @include mobile{
                                                        position: absolute;
                                                        top: 34.5%;
                                                        width: calc(50% - 1rem - 20px);
                                                        right: 20px;
                                                    }
                                                }
                                                &:nth-child(2){
                                                    @include mobile{
                                                        width: 50%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .tw-tit{
                                text-align: center;
                                padding-top: 7.7rem;
                                .tit-title{
                                    font-size: 2.4rem;
                                    font-weight: 600;
                                    padding-bottom: 1.7rem;
                                    @include mobile{
                                        font-size: 3.6rem;
                                    }
                                }
                                .tit-sub{
                                    font-size: 1.4rem;
                                    color: #444;
                                    font-weight: 300;
                                    @include mobile{
                                        font-size: 2.4rem;
                                    }
                                }
                            }
                            .tw-pro{
                                .result-done{
                                    max-width: 511px;
                                    width: 100%;
                                    margin: 0 auto;
                                    padding: 0 20px;
                                    text-align: center;
                                    span.line{
                                        display: block;
                                        margin: 0;
                                        &:nth-child(1){
                                            width: 100%;
                                            height: 4px;
                                            background: #222;
                                        }
                                        &:nth-child(3){
                                            width: 100%;
                                            height: 1px;
                                            background: #222;
                                        }
                                    }
                                    .result{
                                        margin: 3.2rem 0;
                                        font-size: 4rem;
                                        font-weight: 600;
                                        padding: 0;
                                    }
                                    .r-txt{
                                        margin-top: 4.8rem;
                                        font-size: 2.4rem;
                                        font-weight: 300;
                                    }
                                }
                                .sc-form{
                                    padding: 0;
                                    margin-top: 5.8rem;
                                    form{
                                        .form-inner{
                                            padding: 0;
                                            max-width: unset;
                                            width: max-content;
                                            @include mobile{
                                                padding: 0 20px;
                                                max-width: 612px;
                                                width: 100%;
                                            }
                                            .input1, .input2{
                                                gap: 1.8rem;
                                            }
                                            select{
                                                background: url(../../assets/images/icn1.png) no-repeat 92% 50% #fff;
                                            }
                                            > div{
                                                margin-bottom: 1.8rem;
                                            }
                                            .click-btn{
                                                background:#2c2e45;                 text-shadow: none;            
                                            }
                                            .checks_mul{
                                                input[type=radio]{
                                                    &:checked{
                                                        & + label{
                                                            &::before{
                                                                background: #2c2e45;
                                                                border-color: #2c2e45;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                ul.pro-list{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 2rem;
                                    &:nth-child(1){
                                        margin-bottom: 2rem;
                                    }
                                    li{
                                        width: 18rem;
                                        height: 9rem;
                                        button{
                                            color: #444;
                                            font-size: 1.8rem;
                                            width: 100%;
                                            height: 100%;
                                            border: 1px solid #444;
                                            @include mobile{
                                                font-size: 3rem;
                                            }
                                            &.on{
                                                background: #e5c095;
                                                border: 2px solid #d59449;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .tw-kind{
                        display: flex;
                        align-items: center;
                        gap: 1.2rem;
                        max-width: 1000px;
                        width: 100%;
                        margin: 0 auto;
                        @include mobile{
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                        }
                        .tw--k{
                            flex: 1;
                            button{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                background: $request;
                                gap: 1.5rem;
                                height: 14rem;
                                width: 100%;
                                border-radius: 5px;
                                @include mobile{
                                    height: 16rem;
                                }
                                img{
                                    @include mobile{
                                        width: 7.2rem;
                                    }
                                }
                                p{
                                    font-size: 1.8rem;
                                    font-weight: 500;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
        span.line{
            display: block;
            margin: 6rem 0;
            height: 4px;
            width: 100%;
            background: #e5c095;
        }
        .saju{
            > p{
                font-weight: 600;
                font-size: 3.6rem;
                text-align: center;
                padding-bottom: 4rem;
            }
            &-w{
                &--in{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1.2rem;
                    max-width: 1000px;
                    width: 100%;
                    margin: 0 auto;
                    @include mobile{
                        grid-template-columns: repeat(2, 1fr);
                    }
                    .sk-kind{
                        a{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1.5rem;
                            height: 14rem;
                            background: #fff;
                            width: 100%;
                            border-radius: 5px;
                            border: 2px solid #E5C095;
                            @include mobile{
                                height: 16rem;
                            }
                            img{
                                @include mobile{
                                    width: 7.2rem;
                                }
                            }
                            &.on{
                                background: #E5C095;
                                p{
                                    color: #fff;
                                }
                            }
                            p{
                                font-size: 1.8rem;
                                font-weight: 500;
                                color: #e5c095;
                            }
                        }
                    }
                }
            }
        }
    }
}