.year{
    padding-top: 60px;
    .tab{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        &-inner{
            .tab-list{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 14px;
                background: #fff;
                box-shadow: 0px 0px 20px 0px #a4a4a4;
                border-radius: 5px;
                padding: 23px 0;
                li{
                    button{
                        font-size: 2.6rem;
                        width: 220px;
                        height: 50px;
                        line-height: 50px;
                        color: #000;
                        &.on{
                            background: #694100;
                            border-radius: 30px;
                            color: #fff;
                            font-weight: 600;
                        }    
                    }
                }
            }
        }
    }
    &-wrap{
        padding-top: 60px;
        img{
            display: none;
            &.on{
                display: block;
            }
        }
    }
}