.mento{
    padding-top: 100px;
    &-inner{
        .mento-title{
            text-align: center;
            p{
                font-size: 3rem;
                font-weight: 300;
            }
            .gold{
                font-size: 4rem;
                font-weight: bold;
            }
            &.sec{
                p, .gold{font-size: 3rem;}
            }
            &.third{
                .gold{font-size: 4.8rem;}
            }
        }
        .mento-video{
            max-width: 1200px;
            width: 100%;
            height: 660px;
            background: #ccc;
            margin: 60px 0;
        }
        .mento-img{
            padding-top: 120px;
            padding-bottom: 80px;
            img{
                margin: 0 auto;
            }
        }
        .mento-link{
            padding-top: 30px;
            padding-bottom: 80px;
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            a{
                background: #694100;
                p{
                    font-size: 4.2rem;
                    color: #fff;
                    font-weight: bold;
                    padding: 15px 0;
                    span{
                        font-weight: 300;
                    }
                }
            }
        }        
    }
}
.swiper-button-next{
    right: 40px !important;
}
.swiper-button-prev{
    left: 40px !important; 
}