.ceo{
    padding-top: 100px;
    &-inner{
        position: relative;
        .ceo-img{
            position: absolute;
            top: 0;
            right: 20px;
        }
        .ceo-cont{
            display: flex;
            flex-direction: column;
            gap: 60px;
            .ceo-title{
                display: flex;
                flex-direction: column;
                gap: 20px;
                p{
                    font-size: 2.4rem;
                    .gold{
                        font-size: 3rem;
                        font-weight: bold;
                    }
                }
            }
            .ceo-sub{
                display: flex;
                flex-direction: column;
                gap: 30px;
                p{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 2rem;
                    color: #666;
                    .gold{
                        font-size: 2.4rem;
                        font-weight: bold;
                    }
                }
            }
        }
        .ceo-video{
            padding-top: 60px;
            padding-bottom: 200px;
            .video-wrap{
                position: relative;
                max-width: 1200px;
                height: 660px;
                margin: 0 auto;
                width: 100%;
                overflow: hidden;
                .thumb{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .video{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    video{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .ceo-letter{
            padding-bottom: 100px;
            img{
                margin: 0 auto;
            }
        }
        .ceo-act{
            padding-top: 100px;
            background: #F8F8F8;
            .gold{
                font-size: 4rem;
                font-weight: bold;
                text-align: center;
                padding-bottom: 60px;
            }
            .act-wrap{
                .act-list{
                    background: #fff;
                    margin-bottom: 60px;
                    li{
                        border-bottom: 1px solid #d9d9d9;
                        .news-wrap{
                            a{
                                display: flex;
                                align-items: center;
                                gap: 60px;
                                padding: 30px 20px;
                                .thumb{
                                    img{}
                                }
                                .news-cont{
                                    .news-title{
                                        font-size: 2.4rem;
                                        color: #000;
                                    }
                                    .news-content{
                                        font-size: 1.8rem;
                                        color: #666;
                                        padding-top: 12px;
                                        padding-bottom: 27px;
                                    }
                                    .date{
                                        font-size: 1.8rem;
                                        color: #666;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}