.media{
    &-inner{
        position: relative;
        .media-act{
            padding-top: 100px;
            background: #F8F8F8;
            .gold{
                font-size: 4rem;
                font-weight: bold;
                text-align: center;
                padding-bottom: 60px;
            }
            .act-wrap{
                .act-list{
                    background: #fff;
                    margin-bottom: 60px;
                    li{
                        border-bottom: 1px solid #d9d9d9;
                        .news-wrap{
                            a{
                                display: flex;
                                align-items: center;
                                gap: 60px;
                                padding: 30px 20px;
                                .thumb{
                                    img{}
                                }
                                .news-cont{
                                    .news-title{
                                        font-size: 2.4rem;
                                        color: #000;
                                    }
                                    .news-content{
                                        font-size: 1.8rem;
                                        color: #666;
                                        padding-top: 12px;
                                        padding-bottom: 27px;
                                    }
                                    .date{
                                        font-size: 1.8rem;
                                        color: #666;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}