.beauty{
    padding-top: 60px;
    .tab{
        max-width: 1518px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        &-inner{
            .tab-list{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 14px;
                background: #fff;
                box-shadow: 0px 0px 20px 0px #a4a4a4;
                border-radius: 5px;
                padding: 23px 0;
                li{
                    button{
                        font-size: 2.6rem;
                        padding: 0 29px;
                        height: 50px;
                        line-height: 50px;
                        color: #000;
                        &.on{
                            background: #694100;
                            border-radius: 30px;
                            color: #fff;
                            font-weight: 600;
                        }    
                    }
                }
            }
        }
    }
    &-wrap{
        padding-top: 160px;
        .beauty-title{
            text-align: center;
            padding-bottom: 60px;
            h2.gold{
                font-size: 4rem;
                font-weight: bold;
            }
            p{
                font-size: 2.4rem;
                &:nth-child(2){
                    padding-top: 30px;
                    padding-bottom: 20px;
                }
            }
        }
        .beauty-video{
            padding-bottom: 174px;
            &--inner{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 60px;
                .main-video{
                    position: relative;
                    max-width: 1200px;
                    width: 100%;
                    height: 660px;
                    margin: 0 auto;
                    iframe{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                .sub-video{
                    display: flex;
                    align-items: center;
                    gap: 60px;
                    button{
                        position: relative;
                        &.off{
                            img:nth-child(1){
                                display: none;
                            }
                        }
                        img:nth-child(1){
                            position: absolute;
                            left: 50%;
                            top: 110px;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
        .beauty-swiper{
            background: #f8f8f8;
            &--inner{    
                max-width: 1710px;
                width: 100%;
                margin: 0 auto;
                padding: 0 20px;
                &-title{
                    font-size: 3.6rem;
                    font-weight: bold;
                    text-align: center;
                    padding-bottom: 40px;
                    padding-top: 80px;
                }
            }
            .swiper{
                padding-bottom: 80px;
                .swiper-slide{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    p{
                        font-size: 2.4rem;
                        font-weight: bold;
                    }
                }
            }
        }
        .beauty-gallery{
            padding-bottom: 139px;
            .gold{
                text-align: center;
                font-size: 3.6rem;
                font-weight: bold;
                padding-top: 80px;
                padding-bottom: 40px;
            }
        }
        .gallery-link{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding-top: 77px;
            a{
                font-size: 3rem;
                font-weight: bold;
                padding: 17px 0;
                background: #694100;
                width: 570px;
                color: #fff;
                text-align: center;
            }
        }
        .beauty-info{
            &--inner{
                position: relative;
                width: 100%;
                height: 650px;
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .info-txt{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    .txt-wrap{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        max-width: 900px;
                        width: 100%;
                        margin: 0 auto;
                        .flex-wrap{
                            .gold{
                                font-size: 3rem;
                                font-weight: bold;
                            }
                            .flex{
                                display: flex;
                                p{
                                    font-size: 1.8rem;
                                }
                                .left{
                                    width: 50%;
                                    p{

                                    }
                                }
                                .right{
                                    p{

                                    }
                                }
                                &.center{
                                    align-items: center;
                                    .right{
                                        p{
                                            font-size: 2.8rem;
                                            transform: translateY(-30px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .beauty-info2{
            padding:85px 0;
            img{
                margin: 0 auto;
            }
        }
        .beauty-vote{
            position: relative;
            img{}
            a{
                position: absolute;
                width: 10%;
                height: 15%;
            }
            a.and{
                left: 26.7%;
                top: 63%;
            }
            a.ios{
                top: 63%;
                left: 38%;
            }
        }
    }
}